__pycache__/

.idea/

!/python/model/
/python/model/**
!/python/model/__init__.py
!/python/model/model.py
!/python/model/train_model.py

data/
data_unused/
simulated_data_1/
data_simulated/
node_modules/

saved_model_js/

venv/

website/custom_tfjs/

website/dist/

website/graph_model_js/

website/node_modules/

*.pb

*.npy

*.pyc
