__pycache__/

.idea/

!/python/model/
/python/model/**
!/python/model/__init__.py
!/python/model/model.py
!/python/model/train_model.py

data/

data_simulated/
data_sim_bitboard/
data_sim_bitboard_real_game/
data_sim_bitboard_less_random/

saved_model_js/
saved_model_js_1/
data_unused/

venv/

website/custom_tfjs/

website/dist/

website/graph_model_js/

website/node_modules/

*.pb

*.npy

*.pyc
